*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    /*border: 1px dashed black;*/
    font-family: "Roboto Medium";
}
body{
	
}

/* html, body {
	height:100%;
	padding:0px;
	margin:0px;
	overflow: hidden;
} */

h1,h2,h3,h4,h5,h6{
	color: #505050;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#img-upload{
	width: 100%;
}

/*==============================*/
/*grid system*/
/*==============================*/
[class*="grid-"]{width: 100%;}

.my-row{display:block;}
.my-row::after{
	clear: both;
	content: "";
	display: table;
}
[class*="my-col-"] {
	padding: 5px;
    float: left;
    box-sizing: border-box !important;
    /*border: 1px solid red;*/
}
/* For Tablets */
@media only screen and (min-width: 600px) {
	.my-col-m-1 {width: 8.33%;}
	.my-col-m-2 {width: 16.66%;}
	.my-col-m-3 {width: 25%;}
	.my-col-m-4 {width: 33.33%;}
	.my-col-m-5 {width: 41.66%;}
	.my-col-m-6 {width: 50%;}
	.my-col-m-7 {width: 58.33%;}
	.my-col-m-8 {width: 66.66%;}
	.my-col-m-9 {width: 75%;}
	.my-col-m-10 {width: 83.33%;}
	.my-col-m-11 {width: 91.66%;}
	.my-col-m-12 {width: 100%;}

	.grid-1 {width: 8.33%;}
	.grid-15 {width: 15.33%;}
	.grid-2 {width: 16.66%;}
	.grid-25 {width: 20.66%;}
	.grid-3 {width: 25%;}
	.grid-4 {width: 33.33%;}
	.grid-5 {width: 41.66%;}
	.grid-6 {width: 50%;}
	.grid-7 {width: 58.33%;}
	.grid-8 {width: 66.66%;}
	.grid-9 {width: 75%;}
	.grid-10 {width: 83.33%;}
	.grid-11 {width: 91.66%;}
	.grid-12 {width: 100%;}
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}



/* For Desktop Computers: */
@media only screen and (min-width: 768px) {
	.my-col-1 {width: 8.33%;}
	.my-col-2 {width: 16.66%;}
	.my-col-3 {width: 25%;}
	.my-col-4 {width: 33.33%;}
	.my-col-5 {width: 41.66%;}
	.my-col-6 {width: 50%;}
	.my-col-7 {width: 58.33%;}
	.my-col-8 {width: 66.66%;}
	.my-col-9 {width: 75%;}
	.my-col-10 {width: 83.33%;}
	.my-col-11 {width: 91.66%;}
	.my-col-12 {width: 100%;}

	.grid-1 {width: 8.33%;}
	.grid-2 {width: 16.66%;}
	.grid-3 {width: 25%;}
	.grid-4 {width: 33.33%;}
	.grid-5 {width: 41.66%;}
	.grid-6 {width: 50%;}
	.grid-7 {width: 58.33%;}
	.grid-8 {width: 66.66%;}
	.grid-9 {width: 75%;}
	.grid-10 {width: 83.33%;}
	.grid-11 {width: 91.66%;}
	.grid-12 {width: 100%;}
}


/*==============================*/
/*bg colors*/
/*==============================*/
.bg-light1 {background-color: #E0E0E0 !important;}
.bg-light2 {background-color: #F5F5F5 !important;}
.bg-light3 {background-color: #FAFAFA !important;}
.bg-light4 {background-color: #FFFFFF !important;}

.bg-dark1 {background-color: #000000 !important;}
.bg-dark2 {background-color: #212121 !important;}
.bg-dark3 {background-color: #303030 !important;}
.bg-dark4 {background-color: #424242 !important;}

.bg-red {background-color: #F44336 !important;}
.bg-pink {background-color: #E91E63 !important;}
.bg-purple {background-color: #9C27B0 !important;}
.bg-deep-purple {background-color: #673AB7 !important;}
.bg-indigo {background-color: #3F51B5 !important;}
.bg-blue {background-color: #2196F3 !important;}
.bg-light-blue {background-color: #03A9F4 !important;}
.bg-cyan {background-color: #00BCD4 !important;}
.bg-teal {background-color: #009688 !important;}
.bg-green {background-color: #4CAF50 !important;}
.bg-light-green {background-color: #8BC34A !important;}
.bg-lime {background-color: #CDDC39 !important;}
.bg-yellow {background-color: #FFEB3B !important;}
.bg-amber {background-color: #FFC107 !important;}
.bg-orange {background-color: #FF9800 !important;}
.bg-deep-orange {background-color: #FF5722 !important;}
.bg-brown {background-color: #795548 !important;}
.bg-grey {background-color: #9E9E9E !important;}
.bg-blue-grey {background-color: #607D8B !important;}

/*==============================*/
/*hover colors*/
/*==============================*/

.hover-white:hover {background-color: #FFFFFF !important; cursor: pointer;}
.hover-dark:hover {background-color: #454545 !important; cursor: pointer;}
.hover-red:hover {background-color: #F44336 !important; cursor: pointer;}
.hover-pink:hover {background-color: #E91E63 !important; cursor: pointer;}
.hover-purple:hover {background-color: #9C27B0 !important; cursor: pointer;}
.hover-indigo:hover {background-color: #3F51B5 !important; cursor: pointer;}
.hover-blue:hover {background-color: #2196F3 !important; cursor: pointer;}
.hover-cyan:hover {background-color: #00BCD4 !important; cursor: pointer;}
.hover-teal:hover {background-color: #009688 !important; cursor: pointer;}
.hover-green:hover {background-color: #4CAF50 !important; cursor: pointer;}
.hover-lime:hover {background-color: #CDDC39 !important; cursor: pointer;}
.hover-yellow:hover {background-color: #FFEB3B !important; cursor: pointer;}
.hover-amber:hover {background-color: #FFC107 !important; cursor: pointer;}
.hover-orange:hover {background-color: #FF9800 !important; cursor: pointer;}
.hover-brown:hover {background-color: #795548 !important; cursor: pointer;}
.hover-grey:hover {background-color: #9E9E9E !important; cursor: pointer;}
.hover-deep-purple {background-color: #673AB7 !important; cursor: pointer;}
.hover-light-blue {background-color: #03A9F4 !important; cursor: pointer;}
.hover-light-green {background-color: #8BC34A !important; cursor: pointer;}
.hover-deep-orange {background-color: #FF5722 !important; cursor: pointer;}
.hover-blue-grey {background-color: #607D8B !important; cursor: pointer;}

.hover-text-white:hover {color: #FFFFFF !important; cursor: pointer;}
.hover-text-dark:hover {color: #454545 !important; cursor: pointer;}
.hover-text-red:hover {color: #F44336 !important; cursor: pointer;}
.hover-text-pink:hover {color: #E91E63 !important; cursor: pointer;}
.hover-text-purple:hover {color: #9C27B0 !important; cursor: pointer;}
.hover-text-indigo:hover {color: #3F51B5 !important; cursor: pointer;}
.hover-text-blue:hover {color: #2196F3 !important; cursor: pointer;}
.hover-text-cyan:hover {color: #00BCD4 !important; cursor: pointer;}
.hover-text-teal:hover {color: #009688 !important; cursor: pointer;}
.hover-text-green:hover {color: #4CAF50 !important; cursor: pointer;}
.hover-text-lime:hover {color: #CDDC39 !important; cursor: pointer;}
.hover-text-yellow:hover {color: #FFEB3B !important; cursor: pointer;}
.hover-text-amber:hover {color: #FFC107 !important; cursor: pointer;}
.hover-text-orange:hover {color: #FF9800 !important; cursor: pointer;}
.hover-text-brown:hover {color: #795548 !important; cursor: pointer;}
.hover-text-grey:hover {color: #9E9E9E !important; cursor: pointer;}

/*==============================*/
/*text colors*/
/*==============================*/
.text-white, .text-white p, .text-white span {color: #FFFFFF !important;}
.text-dark, .text-dark p, .text-dark span {color: #959595 !important;}
.text-red, .text-red p, .text-red span {color: #F44336 !important;}
.text-pink, .text-pink p, .text-pink span {color: #E91E63 !important;}
.text-purple, .text-purple p, .text-purple span {color: #9C27B0 !important;}
.text-indigo, .text-indigo p, .text-indigo span {color: #3F51B5 !important;}
.text-blue, .text-blue p, .text-blue span {color: #2196F3 !important;}
.text-cyan, .text-cyan p, .text-cyan span {color: #00BCD4 !important;}
.text-teal, .text-teal p, .text-teal span {color: #009688 !important;}
.text-green, .text-green p, .text-green span {color: #4CAF50 !important;}
.text-lime, .text-lime p, .text-lime span {color: #CDDC39 !important;}
.text-yellow, .text-yellow p, .text-yellow span {color: #FFEB3B !important;}
.text-amber, .text-amber p, .text-amber span {color: #FFC107 !important;}
.text-orange, .text-orange p, .text-orange span {color: #FF9800 !important;}
.text-brown, .text-brown p, .text-brown span {color: #795548 !important;}
.text-grey, .text-grey p, .text-grey span {color: #9E9E9E !important;}
.text-deep-purple, .text-deep-purple p, .text-deep-purple span {color: #673AB7 !important;}
.text-light-blue, .text-light-blue p, .text-light-blue span {color: #03A9F4 !important;}
.text-light-green, .text-light-green p, .text-light-green span {color: #8BC34A !important;}
.text-deep-orange, .text-deep-orange p, .text-deep-orange span {color: #FF5722 !important;}
.text-blue-grey, .text-blue-grey p, .text-blue-grey span {color: #607D8B !important;}

/*==============================*/
/*text shadows*/
/*==============================*/
.text-shadow-white, .text-shadow-white p, .text-shadow-white span {text-shadow: 1px 3px 8px #FFFFFF;}
.text-shadow-dark, .text-shadow-dark p, .text-shadow-dark span {text-shadow: 1px 3px 8px #505050;}
.text-shadow-red, .text-shadow-red p, .text-shadow-red span {text-shadow: 1px 3px 8px #F44336;}
.text-shadow-pink, .text-shadow-pink p, .text-shadow-pink span {text-shadow: 1px 3px 8px #E91E63;}
.text-shadow-purple, .text-shadow-purple p, .text-shadow-purple span {text-shadow: 1px 3px 8px #9C27B0;}
.text-shadow-indigo, .text-shadow-indigo p, .text-shadow-indigo span {text-shadow: 1px 3px 8px #3F51B5;}
.text-shadow-blue, .text-shadow-blue p, .text-shadow-blue span {text-shadow: 1px 3px 8px #2196F3;}
.text-shadow-cyan, .text-shadow-cyan p, .text-shadow-cyan span {text-shadow: 1px 3px 8px #00BCD4;}
.text-shadow-teal, .text-shadow-teal p, .text-shadow-teal span {text-shadow: 1px 3px 8px #009688;}
.text-shadow-green, .text-shadow-green p, .text-shadow-green span {text-shadow: 1px 3px 8px #4CAF50;}
.text-shadow-lime, .text-shadow-lime p, .text-shadow-lime span {text-shadow: 1px 3px 8px #CDDC39;}
.text-shadow-yellow, .text-shadow-yellow p, .text-shadow-yellow span {text-shadow: 1px 3px 8px #FFEB3B;}
.text-shadow-amber, .text-shadow-amber p, .text-shadow-amber span {text-shadow: 1px 3px 8px #FFC107;}
.text-shadow-orange, .text-shadow-orange p, .text-shadow-orange span {text-shadow: 1px 3px 8px #FF9800;}
.text-shadow-brown, .text-shadow-brown p, .text-shadow-brown span {text-shadow: 1px 3px 8px #795548;}
.text-shadow-grey, .text-shadow-grey p, .text-shadow-grey span {text-shadow: 1px 3px 8px #9E9E9E;}
.text-shadow-deep-purple, .text-shadow-deep-purple p, .text-shadow-deep-purple span {text-shadow: 1px 3px 8px #673AB7;}
.text-shadow-light-blue, .text-shadow-light-blue p, .text-shadow-light-blue span {text-shadow: 1px 3px 8px #03A9F4;}
.text-shadow-light-green, .text-shadow-light-green p, .text-shadow-light-green span {text-shadow: 1px 3px 8px #8BC34A;}
.text-shadow-deep-orange, .text-shadow-deep-orange p, .text-shadow-deep-orange span {text-shadow: 1px 3px 8px #FF5722;}
.text-shadow-blue-grey, .text-shadow-blue-grey p, .text-shadow-blue-grey span {text-shadow: 1px 3px 8px #607D8B;}

/*==============================*/
/*card*/
/*==============================*/
[class*="card-"]{
	padding: 20px;
}

.card{
	/*margin-top: 10px;*/
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	border-radius: 5px;
	background: white;
	overflow: hidden;
	margin-bottom: 20px;
}

.card-header{
	font-family: "Roboto Medium";
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.card-header p, .card-header span, .card-content p, .card-content span, .card-footer p, .card-footer span{
	color: #707070;
}

.card-footer{
	border-top: 1px solid rgba(0,0,0,0.2);
	font-size: 20px;
}

.card-title{
	color: #707070;
	font-size: 34px;
	font-family: "Roboto Black";
	cursor: default;
}

/*==============================*/
/*alignment*/
/*==============================*/

.align-center{
	text-align: center;
	margin:auto;
	display: block;
}

.center{
	margin:auto;
	display: block;
}

.align-left{
	text-align: left;
	margin-right: auto;
}

.align-right{
	text-align: right;
	margin-left: auto;
}

.group{display:block;margin: 8px 0;}
.group::after{
	clear: both;
	content: "";
	display: table;
}

/*==============================*/
/*Form inputs*/
/*==============================*/
.label{
	padding: 8px;
	text-align: right;
	border-radius: 5px 0 0 5px;
	background-color: #2196F3;
	box-sizing: border-box;
	text-align: center;
	color:white;
}

option{
	padding: 15px !important;
}
table, th{
	table-layout: fixed;
	/*border: solid 2px red;*/
}

input, select{
	font-size: 16px;
	padding: 2px !important;
	width:100% !important;
	outline: none;
	border: none;
	border-bottom: 2px solid #ddd;
	color: #454545;
}
select:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="time"]:focus, input[type="email"]:focus{
	outline: none;
	border-bottom: 2px solid #2196F3;
}
input[type="submit"]{
	cursor: pointer;
}
span, p{
	padding-top: auto !important;
	padding-bottom: auto !important;
	font-size: 16px;
}

.button:hover{
	text-decoration: none;
	outline: none;
	list-style: none;
	box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.4);
}
.button{
	padding: 5px 20px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	color: white;
	background-color: #ddd;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.button-block:hover{
	width: 100%;
	color: white; 
}
.shadow-hover:hover{
	box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
}

.button-block{
	width: 100%;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	list-style: none;
	min-width: 100px;
}
.border-bottom{
	border-bottom: 1px solid #ddd;
}
/*==============================*/
/*Custom*/
/*==============================*/
#_preloader{
	padding: 10px;
	width: 30px;
	margin: auto;
	height: 30px;
	border-radius: 50%;
	border-top: 10px dashed #2196F3;
	border-left: 10px solid #2196F3;
	overflow: hidden;
}
th{
	width: 30%;
	/*text-align: center !important;*/
}
tr{
	width: inherit;
}
.my-container{
	padding: 5px !important;
}
.img-container{
	width: 100%;
	height: 550px;
	background-image: url("../photos/default.jpg");
    background-attachment: scroll;
    background-color: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagecontainer{
	width: 100%;
	max-height: 250px;
	height: 550px;
	background-image: url("../photos/default.jpg");
    background-attachment: scroll;
    background-color: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
[class*='img-']{
	max-height: 250px;
	width: 100%;
}
.block{
	display: block;
	font-size: 20px;
	color:#424242a0 !important;
	padding: 10px !important;
}
.my-content{
	min-height: 67%;

	/*height: 67%;*/
	margin: 0;
	padding: 0;
	background: #FFF;
}

.footer {
	background-color: #2196F3;
	width: 90%;
	margin-left: 5%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	
	text-align: center;
  }
.my-footer{
	/* 
	text-align: center;
	
	color: white; */
	
	position: absolute;


	bottom: 0;
	width: 90%;
	padding: 20px;	
	background-color: #2196F3;
	text-align: center;
	
}
.my-footer p, .my-footer span, .my-footer pre{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
}
.open{
	background-color: white !important;
}
.active_menu{
	color: white !important;
	/* background-color: white !important;
	color: #2196F3 !important; */
}
.popover-content{
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	border-radius: 5px;
}
.navbar{
	margin-bottom: 0 !important;
}
.container-fluid, .navbar, .navbar-inverse{
	border:none !important;
}
.container-fluid{
	padding-left:0px !important;
}
.padding{padding: 10px 50px;}
.padding-10{padding: 10px;}
.padding-20{padding: 20px;}
.padding-30{padding: 30px;}
.padding-40{padding: 40px;}

.padding-side-10{padding: 5px 10px;}
.padding-side-20{padding: 5px 20px;}
.padding-side-30{padding: 5px 30px;}
.padding-side-40{padding: 5px 40px;}
.padding-side-50{padding: 5px 50px;}
.margin-10{margin: 10px;}
.margin-20{margin: 20px;}
.margin-30{margin: 30px;}
.margin-40{margin: 40px;}
.header p{float:left;display: inline-block;padding: 20px; margin:0; font-size: 40px;}
.title{
	font-family: "Roboto Bold";
	font-size: 26px;
	color:#424242a0;
}
.sub-title{
	text-transform: uppercase;
	font-family: "Roboto Bold";
	font-size: 20px;
	color:#424242a0;
}


.detail{
	font-family: "Roboto Medium";
	font-size: 16px;
	color:#424242a0;
}
.info{
	font-family: "Roboto Regular";
	color:#424242a0;
	font-size: 10px;
	padding: 2px 20px !important;
	margin: 0;
}
.text{
	font-family: "Roboto Regular";
	color:#424242a0;
	font-size: 14px;
	padding: 2px 1px !important;
	margin: 0;
}
.warning{
	font-family: "Roboto Regular";
	color:#F44336 !important;
	font-size: 15px;
}
.chip{
	background-color: red;
	color: white !important;
	border-radius: 20px;
	padding: 5px 15px;
	text-align: center;
}
.shadow-up{
	box-shadow: 0 -8px 20px 2px rgba(0, 0, 0, 0.2) !important;
}

.shadow{
	box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.4);
	/*box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);*/
}

.background-architect{
	background-image: url("../img/architect.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
	max-width: 600px;
	margin: auto;
}

.wrapped{
	width: inherit;
}

.logo{
	/*display: table;*/
	padding: 15px;
	padding: auto;
	/*margin: auto;*/
	width: 180px;
}

.logo_img{
	width: 150px;
	height: 150px;
	margin: auto;
	/*margin-right: auto;*/
}

.main_logo{
	display: inline-block;
	/*padding: 5px;*/
	padding: auto;
	margin: auto;
	float:left;
	/*width: 70px;*/
}

.main_logo_img{
	width: 80px;
	height: 80px;
	margin: auto;
	/*margin-right: auto;*/
}

.login-form, .wrapper{
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	max-width: 600px;
}
.wrap{

	background-image: url("../img/header3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: inherit;
}

/* The my-dropdown container */
.my-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.my-dropdown .dropbtn {
  font-size: 14px; 
  border: none;
  outline: none;
  color: white;
  padding: 15px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.my-dropdown:hover .dropbtn {
  background-color: white;
  color:#2196F3;
}

/* Dropdown content (hidden by default) */
.my-dropdown-content {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

/* Links inside the my-dropdown */
.my-dropdown-content a {
  float: none;
  color: #2196F3;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to my-dropdown links on hover */
.my-dropdown-content a:hover {
  text-decoration: none;
  background-color: #ddd;
}

/* Show the my-dropdown menu on hover */
.my-dropdown:hover .my-dropdown-content {
  display: block;
}

#app{
	/*overflow: hidden;*/
	min-height: 500px;
	height: 100%;
	margin:auto;
	/*min-width: 950px;*/
	max-width: 1224px;
}
.page-content{
	/*max-width: 1050px;*/
}

.round-corner{
	border-radius: 5px;
	overflow: hidden;
}

/*#app { 
    height: 100% !important; 
    background-image: url("../img/architect.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/


table, th,tr,td{
	column-span: 1 !important;
    table-layout: fixed;
}
.open{
	display: block;
}
.my-modal{
    display: none; 
}
.my-modal, .my-dialog{
	padding-top: 60px;
	padding-bottom: 60px;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.my-modal-content,.my-dialog-content {
    border-radius: 5px;
    overflow: hidden;
	max-width: 750px;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
	box-shadow: 2px 8px 20px 5px rgba(0, 0, 0, 0.2);
}
.my-modal-header p, .my-modal-header span, .my-modal-footer p, .my-modal-footer span, .my-modal-body p, .my-modal-body span,
.my-dialog-header p, .my-dialog-header span, .my-dialog-footer p, .my-dialog-footer span, .my-dialog-body p, .my-dialog-body span{
	padding: 5px 0px !important;
	margin: 0 !important;
	box-sizing: border-box;
}
.my-dialog-header, .my-modal-header{
	font-family: "Roboto Medium";
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.my-dialog-footer, .my-modal-footer{
	border-top: 1px solid rgba(0,0,0,0.2);
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



img{
  max-width:180px;
}
input[type=file]{
padding:10px;
background:#2d2d2d;}