<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <title>Home</title>
        <link rel="stylesheet" href="css/icons.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body class="bg-light3">
        
        <div id="app">

            <div class="my-row bg-blue padding wrap">
                <div class="my-col-12">
                    <div class="main_logo">
                        <img class="main_logo_img" src="img/psu_logo.png">
                    </div>
                    <div class="header text-white text-shadow-dark">
                        <p>PSU Engineering Works and Progress</p>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-inverse shadow-up">
              <div class="container-fluid bg-blue">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html" class="text-white hover-white hover-text-blue" data-toggle="tooltip" data-placement="top" title="Ongoing Projects">
                            <i class="material-icons" style="position:relative; top:7px;margin-top:-10px;">folder</i> Ongoing Projects
                        </a>
                    </li>
                     <li>
                        <a class="active_menu" data-toggle="tooltip" data-placement="top" title="Finished Projects">
                            <i class="material-icons" style="position:relative; top:7px;margin-top:-10px;">check</i> Finished Projects
                        </a>
                    </li>
                    <li v-if="user.type=='admin'">
                        <a href="new_file.html" class="text-white hover-white hover-text-blue" data-toggle="tooltip" data-placement="top" title="Add new Project">
                            <i class="material-icons" style="position:relative; top:7px;margin-top:-10px;">add_box</i> New Project
                        </a>
                    </li>
                    <li v-if="user.type=='admin'">
                        <a href="users.html" class="text-white hover-white hover-text-blue" data-toggle="tooltip" data-placement="top" title="Users">
                            <i class="material-icons" style="position:relative; top:7px;margin-top:-10px;">group</i> Users
                        </a>
                    </li>
                    <li>
                        <div class="my-dropdown">
                            <button class="dropbtn"> {{user.username}}
                                <i class="material-icons" style="position:relative; top:7px;margin-top:-10px;">account_circle</i>
                                <i class="material-icons" style="position:relative; transform: rotate(-90deg); top:7px;margin-top:-10px;">chevron_left</i>
                            </button>
                            <div class="my-dropdown-content">
                                <a href="profile.html" class="button-block border-bottom hover-text-white hover-blue">Profile</a>
                                <a href="#" @click="logout" class="button-block border-bottom hover-text-white hover-blue">Logout</a>
                            </div>
                        </div> 
                    </li>
                </ul>
              </div>
            </nav>


            <!-- Content -->
            <div class="my-content">

                <div v-if="buildings.length>0">
                    <div class="my-row">
                        <div class="col-lg-4 padding-20 col-md-6 col-sm-12" v-for="building in buildings">
                            <div class="card shadow-hover">
                                <div class="img-container" :style="showImg(building.model_img)"></div>
                                <div class="card-content">
                                    <p class="sub-title text-blue">{{building.proj_name}}</p>
                                    <p class="detail">{{building.campus}}</p>
                                </div>
                                <div class="card-footer padding-side-50">
                                    <span @click="view(building)" class="btn btn-block btn-default text-white bg-green shadow-hover">
                                        <i class="material-icons" style="position:relative; top:7px;margin-top:-12px;">list</i>  View
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                     <div class="my-row">
                        <div class="col-lg-12 padding-20 col-md-12 col-sm-12">
                            <div class="card shadow-hover">
                                <div class="card-content">
                                    <p class="align-center detail text-blue">No data to show</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Footer -->
            <div class="my-footer">
                <p>Pangasinan State University <i class="material-icons" style="position:relative; top:7px;margin-top:-10px;">devices</i> 09123456789</p>
            </div>
        </div>

        <!-- Frameworks -->
        <script src="libs/vue/vue.min.js"></script>
        <script src="libs/jquery.min.js"></script>
        <script src="libs/bootstrap.min.js"></script>
        <script src="libs/util.js"></script>
        <script src="libs/date.js"></script>

        <!-- Your custom JS here -->
        <script src="js/app.js"></script>
        <script src="js/finished_projects.js"></script>
    </body>
</html>
