<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <title>Login</title>
        <link rel="stylesheet" href="css/icons.css">
        <link rel="stylesheet" href="css/style.css">
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    </head>
    <body class="bg-light3">
        <div id="app">
            <div class="login-form my-content">

                <div class="card">
                    <div class="my-row bg-blue">
                        <div class="my-col-4">
                            <div class="logo">
                                <img class="logo_img" src="img/psu_logo.png">
                            </div>
                        </div>
                        <div class="my-col-8">
                            <div class="card-title text-white text-shadow-dark details" style="margin-top: 10px;">
                                <p class="title">PSU</p>
                                <p class="title">Engineering</p>
                                <p class="title">Works and Progress</p>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-up">
                        <div class="card-header">
                            <p class="title">Sign In</p>
                            <p class="sub-title">Sign in to be able to view data.</p>
                        </div>

                        <div class="card-content">
                            <form>
                                <div class="my-row">
                                    <!-- <span class="warning align-center">User doesn't exist!</span> -->
                                    <div class="my-col-12 group">
                                        <div class="my-col-3 label">
                                            <label>Username <i class="material-icons" style="position:relative; top:7px;margin-top:-10px;">person</i></label>
                                        </div>
                                        <div class="my-col-9">
                                            <input @input="username=$event.target.value" autofocus :value="username"  type="text" name="username" id="username" placeholder="Enter your username.">
                                        </div>
                                    </div>
                                    
                                    <div class="my-col-12 group">
                                        <div class="my-col-3 label">
                                            <label>Password <i class="material-icons" style="position:relative; top:7px;margin-top:-10px;">lock</i></label>
                                        </div>
                                        <div class="my-col-9">
                                            <input @input="password=$event.target.value" :value="password" type="password" name="password" id="password" placeholder="Enter your password.">
                                            <!-- <span class="warning" v-if="invalidPassword">Incorrect Password!</span> -->
                                        </div>
                                    </div>
                                </div>
                                <span class="warning" v-if="invalid ">Incorrect username or password!</span>
                            </form>
                            <br>
                            <p class="align-center text text-blue">No account? Contact admin for registration.</p>
                        </div>
                        <div class="card-footer">
                            <div @click="login" class="button button-block bg-blue">Sign In <i class="material-icons" style="position:relative; top:7px;margin-top:-12px;">chevron_right</i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Frameworks -->
        <script src="libs/vue/vue.min.js"></script>
        <!-- <script src="libs/bootstrap.min.js"></script> -->
        <script src="libs/jquery.min.js"></script>
        <script src="libs/util.js"></script>
        <script src="libs/date.js"></script>

        <!-- Your custom JS here -->
        <script src="js/app.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>
